body {
	background-color: rgb(0, 0, 0);
}

.row {
	display: flex;
}

img {
	background-color: white;
	filter: invert(1);
	margin-top: 70px;
}
body .the-tavern h1, h2 {
	margin-top: 20px;
	color: #e2e2e2;
	display: flex;
	justify-content: center;
}
